[submodule "external/glfw"]
	path = external/glfw
    url = https://github.com/glfw/glfw

[submodule "external/imgui"]
	path = external/imgui
    url = https://github.com/ocornut/imgui

[submodule "external/stblib"]
	path = external/stblib
    url = https://github.com/nothings/stb

[submodule "external/turf"]
	path = external/turf
    url = https://github.com/preshing/turf

[submodule "external/ImGuizmo"]
	path = external/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
    branch = master

[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
	branch = master

[submodule "external/bstrlib"]
	path = external/bstrlib
	url = https://github.com/websnarf/bstrlib
	branch = master

[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	branch = master

[submodule "external/assimp"]
    path = external/assimp
    url = https://github.com/assimp/assimp

[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
	branch = main
